*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'poppins',sans-serif;
}
img{
  width: 150px;
  height: 70px;
}


.container{
  width: 100%;
  min-height: 100vh;
  background:white;
}
.container h2{
  color:black;
  font-size: 32px;
  padding:50px 0;
  text-align: center;
}
.price-row{
  width: 90%;
  max-width: 1100px;
  margin: auto;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px,1fr));
  grid-gap: 25px;

}
.price-col{
  background: #1f283b;
  padding: 10% 15%;
  border-radius: 10px;
  color: white;
  text-align: center;
  margin-top: 50px;  
}
.price-col:hover{
  background:black;
  color:white;
  box-shadow: 0 0 5 px rgba(0,0,0,1);
  transform:scale(1.1);
  z-index: 1;
  border-radius: 25px;

}
.price-col p{
  font-size: 22px;
  

}
.price-col h3{
  font-size: 44px;
  margin: 20px 0 40px;
  font-weight: 500;
  
}
.price-col h3 span{
  font-size: 16px;
}
.price-col ul{
  text-align: left;
  margin: 20px 0;
  color:white;
  list-style: none;
}
.price-col ul li{
  margin: 15px 0;
}
.price-col ul li::before{
  content: '\2022';
  color: red; 
  font-weight: bold;
  margin-right: 8px;
   
}
.price-col button{
  width: 100%;
  padding: 14px 0;
  background:transparent;
  font-size: 15px;
  color:#fff;
  border: 1px solid red;
  border-radius: 6px;
  cursor: pointer;
  margin-top: 30px;
  transition: background s;
}

.price-col button:hover{
  background: red;
  

}




